<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>locnt.filter.DispatcherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>locnt.resource.ResourceContext</listener-class>
    </listener>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>locnt.controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>locnt.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchLastnameServlet</servlet-name>
        <servlet-class>locnt.controller.SearchLastnameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductServlet</servlet-name>
        <servlet-class>locnt.controller.ShowProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>locnt.controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LinkServlet</servlet-name>
        <servlet-class>locnt.controller.LinkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>locnt.controller.ViewCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchLastnameServlet</servlet-name>
        <url-pattern>/SearchLastnameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductServlet</servlet-name>
        <url-pattern>/ShowProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LinkServlet</servlet-name>
        <url-pattern>/LinkServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/ViewCartServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    <resource-ref>
        <res-ref-name>SE1403DS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
